[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
flask-cors = "*"
flask-migrate = "*"
opencv-python = "*"
sqlalchemy = "*"
numpy = "*"
onnxruntime = "*"
click = "*"
tqdm = "*"
pillow = "*"
cython = "*"
insightface = "*"
python-dotenv = "*"
psycopg2 = "*"
psutil = "*"
flask-api = "*"
sqlalchemy-serializer = "*"
black = "*"
gitpython = "*"

[dev-packages]
pre-commit = "*"
flake8 = "*"
autopep8 = "*"
pytest = "*"
coverage = "*"

[requires]
python_version = ">=3.8"
